header{

  /*! background-color: #eff; */
  padding-top: 57px;
  padding-bottom: 54px;
}

header div.wrap{

  display: flex;
  justify-content: space-between;
  position: relative;
}

header h1{

  /*! font-size: 0; */
}

header h1 a{

  background-image: url(../img/hj_logo.jpg);
  background-repeat: no-repeat;
  width: 230px;
  height: 25px;
  display: block;
  font-size: 0px;
}


header ul.gnb{

  display: flex;
  width: 70%;
  justify-content: space-around;
}

header ul.gnb li{

  width: 20%;
  text-align: center;
  border-top: 1px;
}

header ul.gnb li a{

  display: block;
  /*! height: 100%; */
  /*! border: 1px solid; */
  line-height: 2;
  border-top: 1px solid #eee;
}

header ul.gnb li a:hover{
  color:#0000ff;
  border-top:1px solid blue;
}

header ul.enb{

  display: flex;
  position: absolute;
  right: 0px;
  top: -33px;
  font-size: 13px;
  /*! gap: 10px; */
 
}

header ul.enb li{

}

header ul.enb li a{
  padding: 0 3px;
  line-height: 1;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

header ul.enb li a:hover{
  color:orange;
}

header ul.enb li:nth-child(1) a{
  
}
header ul.enb li:nth-child(1) a::after{
  content:"▼";
  margin-left: 6px;
  
  /*! color: #666; */
}


header ul.enb li:nth-child(2) a{
}


 

header ul.enb li:nth-child(2) a::before{
  content:"I";
  padding-right: 6px;
  
  color: #ccc;
}







