#title{
    background-image: url(../img/sky.jpg);
    background-position:center;
    background-size:cover;
    height: 600px;
  
      
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title .wrap{
    width: 1200px;
    margin: 0 auto;
    /*! position: relative; */
    text-align: center;
    color: #fff;
    /*! padding-top: 200px; */
    
    /*! height: 100%; */
}

#title h2{
  font-size:50px;
}
#title h2::after{
    content:"";
    display: block;
    /*! padding: 10px; */
    /*! font-weight: lighter; */
    width: 1px;
    height: 60px;
    background-color: #FFF;
    /*! border-right: 1px; */
    justify-content: center;
    /*! text-align: center; */
    margin: 0 auto;
    margin-top: 20px;
}

#title h2 strong{
    
    font-weight: bold;
}

#title p{
    padding:20px;
    line-height:1.4; 
    margin-bottom: 60px;
}
#title button{
    width:80px;
    height:50px;
    background-color: #fff;
    border: none;
    position: relative;
}
#title button:hover{
    background-color:orange;
    
}


#title button:hover::before{
   border-bottom: 25px solid orange;
    
}

#title button:hover::after{
   border-bottom: 25px solid orange;
    
}


#title button::before{
    content:"";
    width: 0px;
    height: 0px;
    display: block;
    /*! background-color: red; */
    border-top: 25px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 25px solid white;
    border-left: 40px solid transparent;
    /*! margin-top: 80px; */
    /*! transform: translateY(-50px); */
    position: absolute;
    left: 0;
    top: -49px;
}

    

#title button::after{
    content:"";
    width: 0px;
    height: 0px;
    display: block;
    /*! background-color: red; */
    border-top: 25px solid white;
    border-right: 40px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 40px solid transparent;
    /*! margin-top: 80px; */
    /*! transform: translateY(0px); */
    position: absolute;
    left: 0;
    top: 50px;
}

#title button a{
    /*! display: block; */
    /*! width:80px; */
    /*! height:80px; */
    color:#000;
    /*! text-align: center; */
    /*! position: absolute; */
    /*! z-index: 1; */
}


 